@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){
  .main{
    .modal-settings{
      width: 70%;
    }
  }
}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){
  .main{
    .modal-settings{
      width: 100%;
    }
  }
}
@media screen and (max-width: 320px){

}
