body{
  background: url("../images/starsbg.jpg");
}

.main{
  padding-bottom: 20px;

  .btn{
    border: 1px solid yellow;
    background-color: transparent;
    color: yellow;
    padding: 1% 2%;
    transition: all 0.3s linear;

    &.pause,
    &.start{
      display: none;

      &.current{display: inline-block}
    }

    &:hover{background: rgba(255,255,0,0.2)}
  }

  .menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1% 2%;
  }

  .modal-settings{
    background: black;
    border: 5px solid yellow;
    position: absolute;
    width: 40%;
    z-index: 10;
    flex-flow: row wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
    display: none;

    &.active{display: flex}

    input{
      width: 100%;
      margin: 1% 0;
      border: 1px solid yellow;
      background: black;
      color: yellow;

      &:focus{
        background: rgba(255,255,0,0.2);
        box-shadow: 0px 0px 1px 1px rgba(255,255,0,1)
      }
    }
    
    label{
      width: 100%;
      color: yellow;
      margin-top: 30px;
    }

    input[type=range]::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px #000000;
      border: 0px solid #000000;
      height: 20px;
      width: 20px;
      background: yellow;
      cursor: pointer;
      -webkit-appearance: none;
      border-left: 2px solid black;
      border-right: 2px solid black;
    }

    input[type=range]::after{content: '1000'}

    input[type=range]::before{content: '100'}

    input[type=range]::after,
    input[type=range]::before{
      color: black;
      display: inline-block;
      background: yellow;
      border: 1px solid transparent;
      height: 100%;
    }

    .title-settings{
      width: 100%;
      display: inline-block;
      text-align: center;

      .title{
        color: yellow;
        margin-top: 0;
      }

      .exit-button{
        float: right;
        position: relative;
        top: -54%;
      }
    }

    .anim-title{
      width: 100%;
      color: yellow;
      text-align: center;
      font-weight: bold;
    }

    .waterfall,
    .random{
      width: 51%;
      margin: 10px auto;

      &.current{
        border: 1px solid black;
        color: black;
        background: yellow;
        box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.75);
      }
    }

    .inpErr{
      color: red;
      display: none;
    }

    .range-value{font-weight: bold}

    .save{
      margin-top: 20px;
      width: 100%;
      font-size: 20px;
    }
  }

  .garlands{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20vw;
    margin: 20px 0;

    .garland{
      width: 5%;
      height: 22%;
      box-sizing: border-box;
      border: 4px solid #888;
      border-radius: 50%;
      margin: 1.6%;
      background: rgba(255,255,255,0.3);
      transition: all 0.5s ease-in;
    }
  }

  .modal-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
  }
}
