//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html

    <!-- MAIN -->
    <div class="main">
      <div class="menu">
        <button class="btn start current">Start</button>
        <button class="btn pause">Pause</button>
        <button class="btn settings-button">Settings</button>
      </div>
      <div class="modal-settings">
        <div class="title-settings">
          <h3 class="title">SETTINGS</h3>
          <button class="btn exit-button">×</button>
        </div>
        <span class="anim-title">Animation</span>
        <button class="btn random current">Random</button>
        <label for="garlandCount">Garlands Count</label>
        <input type="text" class="count" id="garlandCount" value="36">
        <span class="inpErr">Wrong number (min = 1 | max = 100)</span>
        <label for="speedRange">Garlands ms interval - <span id="rangeVal" class="range-value">600</span></label>
        <input type="range" class="speed" id="speedRange" name="speed" min="100" max="1000" step="100">
        <button class="btn save">SAVE</button>
      </div>
      <div class="garlands"></div>
    </div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>

//= partials/scripts.html

</body>
</html>
